#crumbs {
    margin-top: 30px;
    font-size: 20px;
}

.articles-list {
    border-collapse: separate;
    border-spacing: 50px;
}

.articles-list caption {
    font-size: 30px;
}

.articles-list p{
    line-height: 25px;
    text-indent: 2em;
    display: block;
    padding: 0px 20px 20px 20px;
    font-size: 16px;
}

.articles-list h2{
    display: block;
    padding: 20px;
}

#articles-container p {
    text-align: justify;
}

.actived {
    color: #c81623;
}

#pagination{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}