/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}

/* header 头部制作 */
header {
    height: 150px;
    background: url(../images/header-bgi.jpg), no-repeat;
}

#exhibition-name {
    display: block;
    line-height: 150px;
    font-size: 50px;
    }
#exhibition-name a:hover{
    color: #666;
    }

/* footer制作 */
footer {
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 30px 0;
}

#copyright {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}