/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.style_red {
    color: #c81623;
}
.userForm{
    width: 600px;
}
.formTitle{
    display: block;
    width: 400px;
    margin: 40px auto 20px auto;
    font-size: 30px;
}
/* header 头部制作 */
header {
    height: 150px;
    background: url(../images/header-bgi.jpg), no-repeat;
}

#exhibition-name {
    display: block;
    line-height: 150px;
    font-size: 44px;
    margin-left: 15px;
    }
#exhibition-name a:hover{
    color: #666;
    }

/* 面包屑导航 */
#crumbs {
    margin-top: 30px;
    font-size: 18px;
    margin-left: 30px;
}

/* footer制作 */
footer {
    background-color: #f5f5f5;
    font-size: 16px;
    padding: 30px 0;
    margin-top: 50px;
}

#copyright {
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}