/* 欢迎语 */
#welcome-words {
    font-size: 24px;
    padding: 20px 0;
}

/* 轮播图 */
.swiper-container {
    border-radius: 30px;
    margin-top:30px;
    width:1200px;
    height:500px;
    --swiper-theme-color: #fff

	}
.swiper-slide {
    background-color: #fff;
    font-size: 18px;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    width:100%;
    height:100%;
    /*cursor:pointer;*/
}

/*视频*/
#video-container {
    margin: 50px 50px 50px 40px;
    width: 500px;
    text-align: center;
    font-size: 20px;
}
video{
    width: 500px;
}
/*简介*/
#intro{
    width: 600px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
}
#intro p{
    margin: 50px 50px 0 0;
}

#more a{
    float: right;
    font-size: 30px;
    padding-right: 70px;
}
/*市场信息*/
.articles-list {
    border-collapse: separate;
    border-spacing: 50px;
}
.articles-list caption {
    font-size: 30px;
}
.articles-list p{
    text-indent: 2em;
    line-height: 25px;
    display: block;
    padding: 20px;
    font-size: 16px;
}
.articles-list h2{
    display: block;
    padding: 20px;
}
#articles-container p {
    text-align: justify;
}

/*往届数据*/
#charts caption{
    font-size: 30px;
}
#charts {
    margin-top: 30px;
    border-collapse: separate;
    /* border-spacing: 20px 30px; */
    text-align: center;
    font-size: 16px;
    line-height: 60px;
}

/*展会图片*/
#photo-gala {
    border-collapse: separate;
    border-spacing: 10px 20px;
}
#photo-gala caption {
    font-size: 30px;
}
#photo-gala span {
    font-size: 40px;
}
#photo-gala span:hover {
    color: #c81623;
}
#tbcc {
    text-align: center;
}

/*支持单位*/
#endorses {
    margin-top: 30px;
    margin-bottom: 50px;
    border-collapse: separate;
    border-spacing: 15px;
    text-align: center;
}
#endorses caption {
    font-size: 30px;
    margin-bottom: 20px;
}
#endorses img {
    border-radius: 6px;
}





















